@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Hedvig Letters Serif', serif;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .625rem;
    justify-content: center;
    background-color: #343a40;
    border-radius: 10px 10px 0 0;
    color: #FFF;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 1.875rem;
}

h1 {
    font-size: 40px;
    letter-spacing: 1px;
}

.contacts {
    width: 100%;
    height: 50px;
    border-top: 1px solid rgb(136, 133, 133);
}

.contacts__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.contacts__list li {
    display: flex;
    align-items: center;
    gap: .625rem;
}

.contacts__list li a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
}

.contacts__list svg {
    width: 25px;
}

.contacts ul {
    list-style: none;
}

main {
    padding: 20px 100px;
}

h2 {
    margin-top: 40px;
    font-size: 32px;
}

h3 {
    font-size: 22px;
    margin-top: 10px;
}

p {
    margin-top: 10px;
    font-size: 20px;
}

.skills {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.progress {
    margin-top: .625rem;
    height: 8px;
    background: #9e9fa0;
    border-radius: 20px;
}

.progress-inner {
    height: 100%;
    width: 100%;
    background: #343a40;
    border-radius: 20px;
}

.progress-inner.half {
    width: 50%;
}

.languages {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 33%);
    gap: 20px;

}